<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>

        <!-- <header>
            Page header
        </header> include partial no -->

        <%- include('_header'); %>

        <!-- <h1>SocialU <%=title%> </h1>
         -->

         <%- body %>

        <%- include('_footer.ejs'); %>
        <!-- <footer>
            Page footer
        </footer> include partial no-->
        <%- script %>
    </body>
</html>